Repository insidegui/WWDC, pull requests merged in 2018-05, with the labels that each got.

#369 Not messing with session identifiers, refactored database migration code
  ConfCore/Event.swift
  ConfCore/Session.swift
  ConfCore/SessionInstancesJSONAdapter.swift
  ConfCore/SessionsJSONAdapter.swift
  ConfCore/Storage.swift
  ConfCore/StorageMigrator.swift
  ConfCore/TranscriptIndexer.swift
  ConfCore/TranscriptsJSONAdapter.swift
  ConfCoreTests/AdapterTests.swift
  WWDC.xcodeproj/project.pbxproj
  WWDC/Constants.swift
Labels: core, debt

#367 Parse and persist related videos and resources
  ConfCore/RelatedResource.swift
  ConfCore/ResourcesJSONAdapter.swift
  ConfCore/ScheduleResponse.swift
  ConfCore/ScheduleResponseAdapter.swift
  ConfCore/Session.swift
  ConfCore/SessionRelatedJSONAdapter.swift
  ConfCore/SessionsJSONAdapter.swift
  ConfCore/Storage.swift
  ConfCoreTests/AdapterTests.swift
  ConfCoreTests/StorageTests.swift
  Fixtures/json/contents.json
  PlayerUI/Definitions/Speeds.swift
  WWDC.xcodeproj/project.pbxproj
  WWDC/Constants.swift
Labels: feature

#377 Implemented UI for related sessions
  WWDC.xcodeproj/project.pbxproj
  WWDC.xcodeproj/xcshareddata/xcschemes/WWDC with iCloud.xcscheme
  WWDC/AppCoordinator+RelatedSessions.swift
  WWDC/AppCoordinator.swift
  WWDC/RelatedSessionsViewController.swift
  WWDC/SessionCellView.swift
  WWDC/SessionCollectionViewItem.swift
  WWDC/SessionDetailsViewController.swift
  WWDC/SessionSummaryViewController.swift
  WWDC/SessionTableCellView.swift
  WWDC/SessionViewModel.swift
Labels: feature, ux

#381 Fixed a crash in TranscriptIndexer
  ConfCore/TranscriptIndexer.swift
Labels: bug, core

#380 Implement sync for favorites, bookmarks and session progress
  Cartfile
  Cartfile.resolved
  CommunitySupport/CMSCloudKitRepresentable.swift
  CommunitySupport/CMSCloudKitUtil.swift
  CommunitySupport/CMSCommunityCenter.swift
  CommunitySupport/CMSSubscriptionManager.swift
  CommunitySupport/CMSUserProfile.swift
  CommunitySupport/CommunitySupport.h
  CommunitySupport/Info.plist
  ConfCore/Bookmark+ConflictResolution.swift
  ConfCore/Bookmark.swift
  ConfCore/BookmarkSyncObject.swift
  ConfCore/CKRecord+SystemFields.swift
  ConfCore/Data+CloudKit.swift
  ConfCore/Error+CloudKit.swift
  ConfCore/Favorite+ConflictResolution.swift
  ConfCore/Favorite.swift
  ConfCore/FavoriteSyncObject.swift
  ConfCore/Session+Children.swift
  ConfCore/SessionProgress+ConflictResolution.swift
  ConfCore/SessionProgress.swift
  ConfCore/SessionProgressSyncObject.swift
  ConfCore/Storage.swift
  ConfCore/SyncEngine.swift
  ConfCore/UserDataSyncEngine.swift
  ConfCore/UserDataSyncProtocols.swift
  WWDC.xcodeproj/project.pbxproj
  WWDC/AccountPreferencesViewController.swift
  WWDC/AppCoordinator+Bookmarks.swift
  WWDC/AppCoordinator.swift
  WWDC/AppDelegate.swift
  WWDC/Constants.swift
  WWDC/GeneralPreferencesViewController.swift
  WWDC/LoggingHelper.swift
  WWDC/NSImage+Compression.swift
  WWDC/Preferences.storyboard
  WWDC/Preferences.swift
  WWDC/PreferencesCoordinator.swift
  resetSync.sh
Labels: core, feature, ux

#389 Fixed subtitle for the "Fall 2017" event in sidebar
  WWDC/SessionViewModel.swift
Labels: bug, ux

#388 Implemented playlists
  ConfCore/AppleAPIClient.swift
  ConfCore/Bookmark.swift
  ConfCore/BookmarkJSONAdapter.swift
  ConfCore/Environment.swift
  ConfCore/FeaturedAuthor.swift
  ConfCore/FeaturedAuthorJSONAdapter.swift
  ConfCore/FeaturedContent.swift
  ConfCore/FeaturedContentJSONAdapter.swift
  ConfCore/FeaturedSection.swift
  ConfCore/FeaturedSectionsJSONAdapter.swift
  ConfCore/Storage.swift
  ConfCore/SyncEngine.swift
  ConfCoreTests/AdapterTests.swift
  Fixtures/json/layout.json
  WWDC.xcodeproj/project.pbxproj
  WWDC.xcodeproj/xcshareddata/xcschemes/WWDC with iCloud.xcscheme
  WWDC/AppCoordinator+Featured.swift
  WWDC/AppCoordinator+RelatedSessions.swift
  WWDC/AppCoordinator+Shelf.swift
  WWDC/AppCoordinator.swift
  WWDC/AppDelegate.swift
  WWDC/Assets.xcassets/featured.imageset/Contents.json
  WWDC/Assets.xcassets/featured.imageset/featured.png
  WWDC/Assets.xcassets/featured.imageset/featured@2x.png
  WWDC/Assets.xcassets/featured.imageset/featured@3x.png
  WWDC/Base.lproj/Main.storyboard
  WWDC/FeaturedContentCollectionViewCell.swift
  WWDC/FeaturedContentViewController.swift
  WWDC/FeaturedContentViewModel.swift
  WWDC/FeaturedSectionViewController.swift
  WWDC/FeaturedSectionViewModel.swift
  WWDC/FlippedClipView.swift
  WWDC/MainWindowController.swift
  WWDC/RemoteEnvironment.swift
  WWDC/WWDCHorizontalScrollView.swift
Labels: core, feature, ux

#391 Removing old tracks from the database
  ConfCore/StorageMigrator.swift
Labels: bug: crash, core

#406 Modify related content layout to allow scroller
  WWDC/RelatedSessionsViewController.swift
Labels: enhancement, ux

#403 Prevent notification loop by introducing a custom notification
  WWDC/SessionsSplitViewController.swift
Labels: bug, ux
